* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

::-webkit-resizer {
  background: linear-gradient(to bottom, #99ff99, #029974);
  border-radius: 3px;
  border: 1px solid black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #444;
  border-radius: 10px;
  height: auto;
  cursor: auto;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #77c777, #017559);
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #99ff99, #029974);
}

header {
  background: linear-gradient(to right, #99ff99, #029974);
}

header nav ul {
  list-style-type: none;
  display: flex;
  border: 1px solid black;
}

header nav ul li {
  font-size: 1.2em;
  cursor: pointer;
  color: black;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  display: flex;
  padding: 15px;
  border: 1px solid black;
  flex: 1;
  justify-content: center;
}

header nav ul li.active {
  background: none;
}

.disabled-nav {
  pointer-events: none;
}

header nav ul li.inactive {
  border: 1px solid black;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

header nav ul li.inactive:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
}

.search-section {
  display: flex;
  align-items: center;
  padding: 20px;
}

.search-controls {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
  margin-left: auto;
  margin-right: 0px;
}

.search-controls button {
  background: linear-gradient(to right, #77c777, #017559);
  padding: 10px 20px;
  font-size: 0.95em;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.search-controls button:hover {
  border: 1px solid white;
  background: linear-gradient(to right, #99ff99, #029974);
}

.search-controls button:nth-child(1) {
  min-width: 200px;
}

.search-controls button:nth-child(3) {
  min-width: 95px;
}

.search-section-add-button {
  background: linear-gradient(to right, #77c777, #017559);
  padding: 10px 20px;
  margin-left: 20px;
  font-size: 0.95em;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.search-section-add-button:hover {
  border: 1px solid white;
  background: linear-gradient(to right, #99ff99, #029974);
}

.search-controls input {
  flex-grow: 1;
  max-width: 35%;
  padding: 0px 10px;
  background: #bbb;
  font-size: 0.95em;
  border: 1px solid black;
  border-radius: 20px;
  transition: background 0.2s ease;
}

.search-controls input:focus {
  background: #fff;
  outline: none;
}

.filter-section {
  padding: 0 0 20px 20px;
  display: flex;
}

.filter-controls {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.filter-controls label {
  display: inline-block;
}

.filter-controls input {
  margin: 0 5px;
}

.filter-controls button {
  background: linear-gradient(to right, #77c777, #017559);
  padding: 10px 20px;
  font-size: 0.95em;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.filter-controls button:hover {
  border: 1px solid white;
  background: linear-gradient(to right, #99ff99, #029974);
}

.filter-item label {
  display: flex;
  align-items: center;
}

.home,
.contact {
  margin-top: 20px;
  text-align: center;
}

.contact-form {
  text-align: left;
  margin: auto;
  display: block;
  width: 50%;
}

.contact-actions {
  text-align: center;
  margin-bottom: 10px;
}

.contact h1 {
  margin: 20px;
}

.contact input {
  margin: 2px;
}

.contact textarea {
  min-height: 300px;
  max-height: 800px;
  resize: vertical;
}

.home h3,
.contact h3 {
  margin: 20px;
}

.book-collection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 0 20px 17px;
  max-width: 100%;
  overflow-x: hidden;
}

.book-card {
  background: linear-gradient(to bottom, #555, #444);
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 355px;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.book-card:hover {
  background: linear-gradient(to bottom, #666, #555);
  border: 1px solid white;
  cursor: pointer;
}

.book-card img {
  max-width: 180px;
  height: 247px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.book-card-title {
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  text-overflow: ellipsis;
}

.book-card-author {
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.book-details {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 93px);
}

.book-details img {
  max-height: 485px;
  max-width: 350px;
  min-height: 465px;
  min-width: 330px;
  margin-right: 20px;
  border-radius: 15px;
}

.book-info {
  color: white;
  max-width: 1400px;
}

.book-info-title {
  font-size: 2em;
  margin-bottom: 0.3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.book-info-author {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.book-info-other {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-info-desc {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 0.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}

.book-info button,
.contact button {
  background: linear-gradient(to right, #77c777, #017559);
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
  margin-right: 20px;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.book-info button:hover,
.contact button:hover {
  background: linear-gradient(to right, #99ff99, #029974);
  border: 1px solid white;
}

.edit-book {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.edit-book-form {
  margin: 0 20px 0;
  width: 100%;
  min-height: calc(100vh - 93px);
}

.edit-book-form h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.edit-book-form label,
.contact label {
  display: block;
  font-size: 1.1em;
}

.edit-book-form input,
.edit-book-form textarea,
.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #bbb;
  border: 1px solid black;
  border-radius: 8px;
  color: #333;
  font-size: 1.1em;
  margin-top: 3px;
}

.edit-book-form input:focus,
.edit-book-form textarea:focus,
.contact input:focus,
.contact textarea:focus {
  background: #fff;
  outline: none;
}

.edit-book-form input[type="date"] {
  font-family: Arial, sans-serif;
}

.edit-book-form textarea {
  min-height: 180px;
  max-height: 1200px;
  resize: vertical;
}

.edit-book-actions button {
  background: linear-gradient(to right, #77c777, #017559);
  padding: 10px;
  font-size: 1.1em;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
  display: block;
  margin: 5px auto 0px;
  margin-bottom: 20px;
  width: 10%;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.edit-book-actions button:hover {
  border: 1px solid white;
  background: linear-gradient(to right, #99ff99, #029974);
}

.input-row {
  display: flex;
  gap: 20px;
}

.input-row label {
  flex: 1;
}

.input-row button {
  background: linear-gradient(to right, #77c777, #017559);
  margin: 10px 0;
  font-size: 1.1em;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
  width: 25%;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.input-row button:hover {
  border: 1px solid white;
  background: linear-gradient(to right, #99ff99, #029974);
}

.add-method {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 93px);
}

.add-method-selection {
  display: block;
}

.add-method-selection h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-method-selection button {
  background: linear-gradient(to right, #77c777, #017559);
  padding: 10px;
  font-size: 1.1em;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
  display: block;
  margin: 0 auto 20px;
  width: 70%;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.add-method-selection button:hover {
  border: 1px solid white;
  background: linear-gradient(to right, #99ff99, #029974);
}

.review {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.review-form {
  display: block;
  width: 50%;
}

.review-form h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-form label {
  font-size: 1.1em;
}

.review-form input,
.review-form textarea {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 3px;
  background: #bbb;
  border: 1px solid black;
  border-radius: 8px;
  color: #333;
  font-size: 1.1em;
}

.review-form textarea {
  resize: vertical;
  margin-bottom: 15px;
  min-height: 440px;
  max-height: 1200px;
}

.review-form input:focus,
.review-form textarea:focus {
  background: #fff;
  outline: none;
}

.review-actions button {
  background: linear-gradient(to right, #77c777, #017559);
  padding: 10px;
  font-size: 1.1em;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
  margin: 0px auto 20px;
  display: block;
  width: 30%;
  transition:
    background 0.2s ease,
    border 0.2s ease;
}

.review-actions button:hover {
  border: 1px solid white;
  background: linear-gradient(to right, #99ff99, #029974);
}

footer {
  background: linear-gradient(to right, #99ff99, #029974);
  padding: 8px;
  color: black;
  text-align: center;
  border: 1px solid black;
}

@media (max-aspect-ratio: 9/10) {
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }

  ::-webkit-scrollbar {
    width: 30px;
  }

  header {
    background: linear-gradient(to right, #99ff99, #029974);
    border: 1px solid black;
  }

  header nav ul {
    display: grid;
    font-size: 2.5em;
  }

  header nav ul li {
    border: none;
    padding: 30px;
  }

  header nav ul li:nth-child(1) {
    border-bottom: 1px solid black;
  }

  header nav ul li:nth-child(2) {
    border-top: 1px solid black;
  }

  .search-section {
    display: block;
    align-items: center;
  }

  .search-controls {
    display: flex;
    gap: 25px;
    flex-grow: 1;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .search-controls button {
    background: linear-gradient(to right, #77c777, #017559);
    padding: 20px 0;
    font-size: 2.5em;
  }

  .search-controls button:nth-child(1) {
    width: 20%;
  }

  .search-controls button:nth-child(3) {
    width: 20%;
  }

  .search-section-add-button {
    width: 100%;
    padding: 20px;
    margin-left: auto;
    font-size: 2.5em;
    margin-top: 20px;
  }

  .search-controls input {
    max-width: none;
    padding: 20px;
    font-size: 2.5em;
  }

  .filter-section {
    padding: 0px 20px 0px;
    display: block;
    font-size: 2.5em;
  }

  .filter-controls {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .filter-controls input {
    margin: 20px 20px;
  }

  .filter-controls input[type="checkbox"] {
    height: 30px;
    width: 30px;
  }

  .filter-controls input[type="range"] {
    width: 100%;
  }

  .filter-controls button {
    padding: 20px;
    width: 100%;
  }

  .filter-item label {
    display: flex;
  }

  .home h3 {
    font-size: 2em;
  }

  .home h1,
  .contact h1 {
    margin-top: 30px;
    font-size: 2.5em;
  }

  .contact-form {
    width: 100%;
    margin-bottom: none;
    padding: 10px 50px 30px;
  }

  .contact textarea {
    min-height: 640px;
    max-height: 1200px;
    margin-bottom: 30px;
    margin-top: 5px;
  }

  .book-collection {
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  }

  .book-card {
    height: auto;
  }

  .book-card img {
    height: 500px;
    max-width: 360px;
  }

  .book-card-title {
    font-size: 2em;
    width: 400px;
  }

  .book-card-author {
    width: 400px;
    font-size: 2em;
  }

  .book-details {
    display: block;
    height: auto;
    margin: 50px;
  }

  .book-details img {
    max-height: 650px;
    max-width: 450px;
    min-height: 630px;
    min-width: 430px;
    border-radius: 15px;
    margin-bottom: 20px;
  }

  .book-info p {
    font-weight: bold;
  }

  .book-info-title {
    font-size: 3em;
  }

  .book-info-author {
    font-size: 2.5em;
  }

  .book-info-other {
    font-size: 2em;
  }

  .book-info-desc {
    font-size: 2em;
    -webkit-line-clamp: none;
  }

  .book-actions {
    margin: auto;
    gap: 20px;
    display: flex;
    justify-content: center;
  }

  .book-info button {
    background: linear-gradient(to right, #77c777, #017559);
    padding: 20px;
    width: 100%;
    font-size: 2.5em;
    margin: auto;
    min-height: 180px;
  }

  .edit-book-form {
    max-width: none;
    margin-bottom: none;
    padding: 10px 30px 30px;
    font-size: none;
  }

  .edit-book label,
  .contact label {
    font-size: 2em;
  }

  .edit-book-form h2 {
    font-size: 2.5em;
  }

  .edit-book-form input,
  .contact input {
    margin-top: 5px;
    padding: 20px;
  }

  .input-row {
    display: grid;
    gap: 0;
  }

  .edit-book-form textarea {
    min-height: 600px;
    max-height: 1200px;
    margin-bottom: 30px;
    margin-top: 5px;
  }

  .edit-book-form button,
  .contact button {
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    font-size: 2.5em;
  }

  .add-method-selection h2 {
    font-size: 3em;
    margin-bottom: 40px;
  }

  .add-method {
    height: calc(100vh - 370px);
  }

  .add-method-selection button {
    padding: 20px;
    font-size: 2.5em;
  }

  .review {
    padding: 10px 0;
  }

  .review-form {
    display: block;
    width: 100%;
    margin: 0 50px;
  }

  .review-form h2 {
    font-size: 2.5em;
  }

  .review-form label {
    font-size: 2em;
  }

  .review-form input,
  .review-form textarea {
    padding: 20px;
  }

  .review-form textarea {
    resize: vertical;
    margin-bottom: 30px;
    min-height: 650px;
    max-height: 1200px;
  }

  .review-actions button {
    padding: 20px;
    font-size: 2.5em;
    width: 100%;
  }

  footer {
    padding: 20px;
    font-size: 2.5em;
  }
}